:root {
    --cor-primaria: #0099ff;
    --background-dark-color: #222222;
    --background-light-color: #ffffff;
    --color-text-dark: #fff;
    --color-text-light: #222222;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    margin: 24px;
    padding: 12px 24px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-light-color);
    color: var(--color-text-light);
}
button{
    background-color: var(--cor-primaria);
    margin: 24px;
    padding: 12px 24px;
    border-radius: 24px;
}
p{
    margin: 24px;
    padding: 12px 24px;
    color: var(--cor-primaria);
}

